@{
    // title - The title of the page which appears in the browser window title. Aim for the title to be less than 70 
    //         characters. The site name appears at the end for better SEO.
    ViewBag.Title = "ASP.NET MVC Boilerplate";
    // Description - Used by search engines. Aim for more than 160 characters.
    ViewBag.Description = "A professional ASP.NET MVC template for building secure, fast, robust and adaptable web applications or sites. It provides the minimum amount of code required on top of the default MVC template provided by Microsoft.";
    // Author - (Optional) Used by search engines. The author of the page.
    ViewBag.Author = "Muhammad Rehan Saeed";
    // Referrer - (Optional) Controls what is sent in the HTTP referrer header when a client navigates from your page 
    //            to an external site for increased user privacy and security. See ReferrerMode for more information.
    ViewBag.ReferrerMode = ReferrerMode.OriginWhenCrossOrigin;

    // Add Twitter Card and Open Graph social meta tags so we can customize what happens when our page is shared
    // on these social networks. Note that other social networks like Google+, Pintrest and others also use these.
    // There are dozens of different Twitter Card or Open Graph object types we could add, a different one is added
    // on each page as an example.
    // These helpers make it very easy to add the meta tags. For best performance, see what tags are generated and
    // hand code them yourself instead of using these helpers.
    ViewBag.TwitterCard = new SummaryLargeImageTwitterCard("@RehanSaeedUK");
    ViewBag.OpenGraph = new OpenGraphWebsite(
        ViewBag.Title,
        new OpenGraphImage(Url.AbsoluteContent("~/content/icons/open-graph-1200x630.png")) { Height = 630, Type = ContentType.Png, Width = 1200 })
    {
        Determiner = OpenGraphDeterminer.Blank,
        SiteName = Application.Name
    };
}

@*<header class="jumbotron">
    <h1>@ViewBag.Title</h1>
    <p class="lead">@ViewBag.Description</p>
    <p><a href="https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</header>*@
  
    <hr>
    <div class="container">
        <!--      hello
                    <h1>Vous avez aimé mon site ? Dites-le dans le Datastore !</h1>
                <form action="/javacvsite" method="post">
                    <p>
                        <label>Votre nom : <input type="text" name="name" /></label>
                    </p>
                    <p>
                        <label>Votre message :<br />
                        <textarea name="message" style="width: 200px; height: 100px;"></textarea></label>
                    </p>
                    <p>
                        <input type="submit" />
                    </p>
                </form> -->
        <form action="/javacvsite" method="post">

            <label>Fichier<input type="file" name="fichier" />	</label><br /><br />
            <label>Titre <br /><input type="text" name="Titre" /></label><br /><br />

            <label>
                Article<br />
                <textarea name="Article" style="width: 800px; height: 200px;"></textarea>
            </label>

            <p>
                <input type="submit" />
            </p>
        </form>

        @*<%
            List<Message>
                messages = (List<Message>
                    ) request.getAttribute("messages");
                    for (Message message : messages) {
                    %>
                    <div class="row">
                        <div class="col-sm-4">
                            <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
                        </div>
                        <div class="col-sm-8">
                            <h3 class="title"><%= message.getTitre() %></h3>
                            <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span><%= message.getDate() %></p>
                            <p class="text-muted"><span class="glyphicon glyphicon-hourglass"></span><%= message.getDate() %></p>
                            <p><%= message.getMessage()  %></p>

                            <p class="text-muted">Presented by <a href="#">En savoir plus...</a></p>
                        </div>
                    </div>
                    <hr>
                    <%
                    }
                    %>*@

        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk Management</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014  1:30 PM</p>
                <p>
                    60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases year over year, the amount of data being collected increases as well.
                </p><p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>
            </div>
        </div>
        <hr><div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
                <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.</p>

                <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk Management</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014  1:30 PM</p>
                <p>
                    60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases year over year, the amount of data being collected increases as well.
                </p><p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
                <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.</p>

                <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk Management</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014  1:30 PM</p>
                <p>
                    60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases year over year, the amount of data being collected increases as well.
                </p><p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
                <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.</p>

                <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk Management</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014  1:30 PM</p>
                <p>
                    60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases year over year, the amount of data being collected increases as well.
                </p><p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">How to Fight Fraud with Artificial Intelligence and Intelligent Analytics</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-lock"></span> Available Exclusively for Premium Members</p>
                <p>Could artificial intelligence have been used to prevent the high-profile Target breach? The concept is not so far-fetched. Organizations such as Mastercard and RBS WorldPay have long relied on artificial intelligence to detect fraudulent transaction patterns and prevent card.</p>

                <p class="text-muted">Presented by <a href="#">Ellen Richey</a></p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-4">
                <a href="#" class=""><img src="http://placehold.it/1280X720" class="img-responsive"></a>
            </div>
            <div class="col-sm-8">
                <h3 class="title">Big Payment Data: Leveraging Transactional Data to Ensure an Enterprise Approach to Risk Management</h3>
                <p class="text-muted"><span class="glyphicon glyphicon-calendar"></span> July 23, 2014  1:30 PM</p>
                <p>
                    60% of organizations were exposed to actual or attempted fraud loss last year. As fraud and risk increases year over year, the amount of data being collected increases as well.
                </p><p class="text-muted">Presented by <a href="#">Mike Braatz</a>, <a href="#">Jonathan Eber</a></p>
            </div>
        </div>
    </div>
    <hr>

    <div class="row">
        <article class="col-md-4" role="article">
            <header>
                <h2><span aria-hidden="true" class="fa fa-link"></span> ASP.NET MVC Boilerplate</h2>
            </header>
            <p>Find out more about how the <a href="http://rehansaeed.com/asp-net-mvc-boilerplate/">ASP.NET MVC Boilerplate</a> project template was put together and what features it includes out of the box. Read the <a href="https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/blob/master/Source/Boilerplate.Vsix/Release%20Notes.txt">release notes</a> to find out what updates are made to the project template and see the <a href="https://github.com/RehanSaeed/ASP.NET-MVC-Boilerplate/blob/master/TODO.md">To-Do list</a> to view a list of features that will be added in the future.</p>
        </article>
        <article class="col-md-4">
            <h2><span aria-hidden="true" class="fa fa-file-o"></span> This App Contains</h2>
            <ul>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetIndex)"><strong>@Url.RouteUrl(HomeControllerRoute.GetIndex)</strong></a> - This index page.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetAbout)"><strong>@Url.RouteUrl(HomeControllerRoute.GetAbout)</strong></a> - An about us page.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetContact)"><strong>@Url.RouteUrl(HomeControllerRoute.GetContact)</strong></a> - A contact us page.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetFeed)"><strong>@Url.RouteUrl(HomeControllerRoute.GetFeed)</strong></a> - An <a href="https://en.wikipedia.org/wiki/Atom_%28standard%29">Atom 1.0</a> feed.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetRobotsText).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetRobotsText).TrimEnd('/')</strong></a> - <a href="http://en.wikipedia.org/wiki/Robots_exclusion_standard">Robots text</a>.</li>
                <li><a href="~/humans.txt"><strong>/humans.txt</strong></a> - <a href="http://humanstxt.org">Humans text</a>.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetSitemapXml).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetSitemapXml).TrimEnd('/')</strong></a> - <a href="http://www.sitemaps.org/protocol.html">Site-map XML</a>.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetOpenSearchXml).TrimEnd('/')</strong></a> - <a href="http://www.hanselman.com/blog/CommentView.aspx?guid=50cc95b1-c043-451f-9bc2-696dc564766d#commentstart">Open search XML</a>.</li>
                <li><a href="/@ConfigurationManager.AppSettings["elmah.mvc.route"]"><strong>/@ConfigurationManager.AppSettings["elmah.mvc.route"]</strong></a> - <a href="https://code.google.com/p/elmah/">Elmah</a> error logs.</li>
                <li><a href="/glimpse.axd"><strong>/glimpse.axd</strong></a> - <a href="http://getglimpse.com">Glimpse</a> settings (Debug Only).</li>
                <li><a href="/trace.axd"><strong>/trace.axd</strong></a> - Site <a href="https://msdn.microsoft.com/en-us/library/bb386420%28v=vs.140%29.aspx">trace</a> (Debug Only).</li>
                <li><a href="@Url.RouteUrl(ErrorControllerRoute.GetBadRequest)"><strong>@Url.RouteUrl(ErrorControllerRoute.GetBadRequest)</strong></a> - <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error">400</a> error.</li>
                <li><a href="@Url.RouteUrl(ErrorControllerRoute.GetForbidden)"><strong>@Url.RouteUrl(ErrorControllerRoute.GetForbidden)</strong></a> - <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error">403</a> error.</li>
                <li><a href="@Url.RouteUrl(ErrorControllerRoute.GetInternalServerError)"><strong>@Url.RouteUrl(ErrorControllerRoute.GetInternalServerError)</strong></a> - <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_Error">500</a> error.</li>
                <li><a href="@Url.RouteUrl(ErrorControllerRoute.GetNotFound)"><strong>@Url.RouteUrl(ErrorControllerRoute.GetNotFound)</strong></a> - <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error">404</a> error.</li>
                <li><a href="@Url.RouteUrl(ErrorControllerRoute.GetUnauthorized)"><strong>@Url.RouteUrl(ErrorControllerRoute.GetUnauthorized)</strong></a> - <a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#4xx_Client_Error">401</a> error.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetBrowserConfigXml).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetBrowserConfigXml).TrimEnd('/')</strong></a> - <a href="http://www.buildmypinnedsite.com">Windows 8.1/10 Icons</a>.</li>
                <li><a href="@Url.RouteUrl(HomeControllerRoute.GetManifestJson).TrimEnd('/')"><strong>@Url.RouteUrl(HomeControllerRoute.GetManifestJson).TrimEnd('/')</strong></a> - <a href="https://developer.chrome.com/multidevice/android/installtohomescreen">Android/Chrome Icons</a>.</li>
            </ul>
        </article>
    </div>
